@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: hsl(185, 75%, 39%);
    background-image: url(/images/bg-pattern-top.svg), url(/images/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: left -90px top -20px, bottom -100px right -90px;
    background-size: 100%, 100%;
}



/* card */

.card {
    height: 370px;
    width: 320px;
    border-radius: 15px;
    background-color: white;
}

.card-pattern {
    width: 100%;
    height: 40%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.avatar {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 60px;
}

/* above note: I dont know how to use flex to align it up the way I have using the position relative and a bottom of 50px - but I think it looks alright! since in previous attempts of this I have always tried to used margin-left/right manipulations and it is never centered but with flex display it is now that i kinda 70% understand its usage.*/

.victor-avatar {
    border-radius: 50%;
    border: 5px solid white;

}

/* user personal info */

.user-information {
    text-align: center;
    margin-top: -50px;
}

/* Hmm. I will look up and learn a better way to do that, but right now, i have not done much today, so i am looking to finish this card and then will come back and refactor it all. but using currently known info this is what i know how to do */

.name {
    font-size: 18px;
    font-weight: 700;
    color: hsl(229, 23%, 23%);
    text-shadow: 0px 0px 1.2px hsl(229, 23%, 23%);
}

.age {
    font-size: 18px;
    font-weight: 400;
    color: hsl(0, 0%, 59%);
    text-shadow: 0px 0px 1.2px hsl(0, 0%, 59%);
    padding-left: 3px;
}

.location {
    margin-top: 10px;
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: hsl(0, 0%, 59%);
    border-bottom: 1px solid hsl(0, 0%, 59%, 0.2);
    padding-bottom: 25px;
    margin-bottom: 20px;
    letter-spacing: .5px;
}


/* User stats */

.user-statistics div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
}

.user-statistics span {
    /* width: 40px; */
    text-align: center;
}

.numbers {
    font-weight: 700;
    font-size: 18px;
    color: hsl(229, 23%, 23%);
    text-shadow: 0px 0px 1.3px hsl(229, 23%, 23%);
    /* margin-left: .98em; */
}


/* the above is messy! but the only way I could think of aligning that 'likes' and not having it off center, when you learn more return to this and change it. its also way too many lines of code for what it actually does. oof.  */


/* colours/ fonts etc styles */

.tags {
    position: relative;
    margin-right: 15px;
    font-weight: 400;
    font-size: 10px;
    color: hsl(0, 0%, 59%);
    font-family: 'Kumbh Sans';
    letter-spacing: 2px;
    text-align: center;
    padding: 5px 0px;
}


.tags span:nth-of-type(1) {
    position: relative;
    right: 5px;
}

.tags span:last-of-type {
    position: relative;
    left: 17px;
    text-align: center;
}

/* finished on 17th July 2022! 

I am happy with how it looks save for the background, I will have to see how to fix that. I will come back to it in a week and see how to minimize the above and distil it into less of a mess with the nth of type usage. but visually I dont hate it. */